spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://db.teayeipgyrtypvyubwiv.supabase.co:5432/postgres}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:i*F?Zb%jgT2%H+M}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
