spring:
  datasource:
    url: jdbc:postgresql://${DATABASE_URL}:5432/dbquiz_2v9n
    username: ${DATABASE_USER}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
